body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
  
}

.min-header {
  background-color: black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-content {
  padding: 20px;
  min-height: calc(100vh - 160px); /* Anpassa om header/footer ändras */
}

.min-footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px;
  position: relative;
  bottom: 0;
  width: 100%;
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:active {
  text-decoration: underline;
}

#Logga,
#LoggaIn,
#LoggaUt {
  margin-top: 10px;
  color: white;
  background-color: rgba(173, 216, 230, 0.4);
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  text-align: center;
  border-width: 5px;
  border-radius: 25px;
}
#Logga:hover,
#LoggaIn:hover,
#LoggaUt:hover {
  color: white;
  box-shadow: 1px 1px 40px #ADD8E6;
  background-color:  rgba(173, 216, 230, 0.75);;
}

#Logga {
  width: 200px;
}

#LoggaIn {
  width: 120px;
}

#LoggaUt {
  width: 120px;
  border-style: none;
}

#sokFalt {
  margin-top: 10px;
  width: 300px;
  height: 35px;
  border: #90EE90;
  border-radius: 25px;
}
#sokFalt:focus {
  outline: none;
}

#sok-container {
  position: relative;
  width: 305px;
}
#resultatLista {
  position: absolute;
  left: 0; 
  background-color: white;
  border: 1px solid black;
  border-radius: 25px;
  width: 300px;
  max-height: 200px;
  overflow-y: auto;
  padding: 0;
  margin: 0;
  list-style-type: circle;
  z-index: 10;
}
#resultatLista li a {
  display: block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
#resultatLista li a:hover {
  background-color:  rgba(0, 0, 0, 0.2);
}
#resultatLista:empty {
  display: none;
}


