@model List<Notis>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    @foreach (var notis in Model)
    {
        <h3>@notis.Meddelande</h3>
        <p>Skapad: @notis.SkapadesTid.ToString("yyyy-MM-dd HH:mm")</p>
    }
</body>