
/* */

body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: white;
}

.min-header {
  background-color: black;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: fixed;
  top: 0;
  width: 100%;
}

.header-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header-wrapper p {
  color: white;
}
.header-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.main-content {
  padding: 10px; 
  margin-top: 90px;
}

#Logga {
  font-size: 26px;
  font-weight: bold;
  color: white;
}

#LoggaIn, #LoggaUt {
  font-size: 16px;
  width: 100px;
  height: 35px;
  line-height: 35px;
  margin-left: 10px;
  background-color: rgba(173, 216, 230, 0.4);
  border-radius: 20px;
  text-align: center;
  border: none;
  color: white;
}

#LoggaIn:hover, #LoggaUt:hover {
  box-shadow: 0 0 8px #ADD8E6;
  background-color: rgba(173, 216, 230, 0.75);
}

#sok-wrapper {
  position: relative;
  width: 400px;
  margin-top: 10px;
}

#sokFalt {
  width: 350px;
  height: 30px;
  border-radius: 25px;
  border: none;
  padding: 5px 10px;
  margin-bottom: 2px;
}

#sok-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 370px;
  z-index: 9999;
}

#resultatLista {
  background-color: white;
  border: 1px solid #ccc;
  border-top: none;
  width: 100%;
  max-height: 250px;
  overflow-y: auto;
  border-radius: 10px;
  margin-top:2px;
  padding: 0;
  list-style-type: none;
}

#resultatLista li  {
  background-color: rgba(0, 0, 0, 0.25);
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 7px;
}
#resultatLista li:hover {
  background-color: rgba(255,255, 255, 0.75);
}

a {
  color: black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}




