@{
    ViewData["Title"] = "Home Page";
}

<head>
    <a asp-controller="Konto" asp-action="SkapaKonto">Skapa en ny användare</a>
</head>

<div class="text-center">
    <h1 class="display-4">Welcome för detta hej jag heter markus</h1> 
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
