/* _content/MotionConnect/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Egen ren start */
body[b-1lvgex5p4s] {
  margin: 0;
  font-family: Arial, sans-serif;
}

header[b-1lvgex5p4s] {
  padding: 20px;
  text-align: center;
  color: white;
}

footer[b-1lvgex5p4s] {
  color: white;
  text-align: center;
  padding: 20px;
}



