<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MotionConnect</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <header class="min-header">
        <h1><a href="/" id="Logga">MotionConnect</a></h1>
        <div class="test">
            <a asp-controller="Konto" asp-action="LoggaInPaKontot" id="LoggaIn">Logga in</a>
            <form method="post" action="/Konto/LoggaUtFranKonto">
                <button type="submit" id="LoggaUt">Logga ut</button>
            </form>
        </div>
    </header>

    <main class="main-content">
        @RenderBody()
    </main>

    <footer class="min-footer">
        <p>&copy; 2025 - MotionConnect</p>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
