
<h4>Skapa ett inlägg</h4>

<form method="post" action="/Inlagg/SkapaEttInlagg" enctype="multipart/form-data">  
    <label>Skriv ditt inlägg är:</label>
    <textarea id="text" name="text" rows="15" cols="50" placeholder="Skriv ditt inlägg är..."></textarea><br>

    <label>Väls sporter:</label><br>
    <select name="sportIds[]" multiple class="form-control" style="height: 150px; width: 250px;">
    @foreach (var sport in ViewBag.Sporter)
    {
        <option value="@sport.SportId">@sport.Namn</option>
    }
    </select><br>
    

    <label>Välj bil om du vill</label>
    <input type="file" id="Bild" name="Bild" accept="image/*" /><br>
    <img id="Forhandsvisning" src="#" alt="Forhansvisning"
        style="display: none; width: 150px; object-fit: cover; margin-top: 10px;"><br>

    <button type="submit">Publicera inlägg</button>
</form>

<script>
        document.getElementById("Bild").addEventListener("change", function (event) {
            var file = event.target.files[0]; // Hämta filen
            if (file) {
                var reader = new FileReader();
                reader.onload = function () {
                    var imgElement = document.getElementById("Forhandsvisning");
                    imgElement.src = reader.result;
                    imgElement.style.display = "block";
                };
                reader.readAsDataURL(file);
            }
        });
    </script>